{% extends 'base.html' %}{% block titles %} {% endblock titles %} {% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Dar AGool YUBAY</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">عروض دار عاقول</h2>
                <h3 class="section-subheading text-muted">بامكانك الاختيار من احدى العروض التاليه</h3>
            </div>
        </div>
        <div class="row text-center">


            {% for category in categories %}

            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color: #84ffff "></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>

                </span>


                <a href="{% url 'subCategory-page' category.id %}">
                    <h4 class="service-heading">{{category.name}}</h4>
                </a>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum
                    ex magni, dicta impedit.</p>

            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}