{% extends 'base.html' %} {% block titles %}
<title> Dar Agol Posts </title>
{% endblock titles %} {% block content %}


<!-- Page Heading -->
<div class="container">
    <h1 class="my-4 text-center">عروض البيع
    </h1>
    <form action="{% url 'rent-list' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="البحث عن طريق المنطقة" aria-label="Search" name="q" value="{{request.GET.q}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">ابحث</button>
            </div>
        </div>
    </form>

    <div class="row">
        {% for item in list %}



        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">

                <img class="card-img-top" src="{{item.img.url}}" width="100%" height="300" alt="">

                <div class="card-body text-center">
                    <h4 class="card-title">
                        <a href="{% url 'rent-detail' item.id %}">{{item.المنطقة}}</a>
                    </h4>
                    <p class="card-text text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente
                        nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex
                        quae? Nihil, dolorem!</p>
                    <a href="{% url 'rent-detail' item.id %}" class="btn btn-outline-dark ">View</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}